/* App styles */

$font-stack:    Helvetica, sans-serif;
$primary-color: rgb(0, 13, 128);
$secondary-color: white;
$tertiary-color: black;

body {
  font: 100% $font-stack;
  background: $tertiary-color;
}

h1 {
  text-align: center;
  color: $primary-color;
  font-size: 50px;
}

div {
  text-align: center;
  font-size: 18px;
  color: $secondary-color;
}

ul {
  li {
    padding: 5px;
    border: 2px solid $secondary-color; 
    margin: 10px;
    display: inline-block;
    font-size: 12px;
    text-align: center;
  }
}

.category-item {
  border: 2px solid $secondary-color;
  border-radius: 3px;
  margin: 10px;
  background: radial-gradient($primary-color, $tertiary-color);
}

.category-item {
  p:first-of-type {
    border-bottom: 1px dashed $secondary-color;
  }
}

.cat-delete-button{
  float: right;
}

input {
  border-radius: 3px;
  background: $tertiary-color;
  color: $secondary-color;
  margin: 5px;
}

button {
  border-radius: 3px;
  font-size: 12px;
  font-weight: bold;
  border: none;
  margin: 5px;
}